
<!--include header partials -->

<% include ../partials/header %>



<div class="container " >
    <header>
     <div class="jumbotron" >
  <h1 class="display-4"><strong>Welcome to YelpCamp</strong></h1>
<hr class="my-4">
  <p class="lead"><h5>View our hand-picked campgrounds from all over the world</h5></p>
<hr class="my-4">
  <a  class="btn btn-primary btn-lg" href="/campgrounds/new" role="button">Add new Campground</a>
</div>
</header>

    <div class="row text-center" style="display: flex; flex-wrap:wrap;">
            <% campgrounds.forEach(function(campground){ %>
                <div class=" col-sm-6  col-md-4 col-xm-12 mb-4">
                     <div class="flip-card">
                          <div class="flip-card-inner">
                     <div class=" opacity card">
                    <img class="card-img-top" src="<%= campground.image %>" alt="<%= campground.name %>">
                  <div class="card-body">
                    <h4 class="card-title"><strong><%= campground.name %></strong></h4>
                    <h5 class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</h5>
                    <a href="/campgrounds/<%=campground._id%>" class="btn-sm btn btn-primary">More info</a>
             </div>
         </div>
      </div>
   </div>
 </div>

       <% }); %>
       </div>

</div>

<% include ../partials/footer %>
